<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Tests" verbose="5" data-provider-thread-count="1">
	<test name="Test1">
		<parameter name="path" value="/"/>
		<classes>
		    <class name="com.epam.webtest.pages.loginTest"/>
		</classes>
	</test>  
	<test name="Test2">
		<parameter name="path" value="/?from=logout&ref=main"/>
		<classes>
		    <class name="com.epam.webtest.pages.SendMailTest"/>
		</classes>
	</test> 
</suite>